.taskheader{
    font-size: x-large;
    font-size: 2em;
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

.conceptName{
    font-weight: bold;
}

.brainstormList{
  height: 650px;
  overflow-y: scroll;
  width: 220px;
  background-color: lavender;
  padding: 3px;
  position: fixed;
}

.brainstormList2{
  height: 650px;
  overflow-y: scroll;
  width: 220px;
  background-color: #b1edb6;
  padding: 3px;
  position: fixed;
  top: 10;
  right: 0;
}

.rowspacer{
    padding-top: 10px;
   
}

.filter2highlight{
    background-color: yellow;
}